* text=auto
*.ts text eol=lf
*.tsx text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.ps1 text eol=lf
*.wal binary
*.png binary
*.woff2 binary
deploy/nginx/* text eol=lf
*.sh text eol=lf
*.mjs text eol=lf
deploy/** text eol=lf
